<html>
  <head>
    <title>Help</title>
  </head>
  <body>
    <p>
      Enter URL as /[method]/[group] (where method may be email or sms)<br/>
    </p>
    <p>
      To list groups navigate to <a href=/groups>/groups<a><br/>
      To list methods navigate to <a href=/methods>/methods<a><br/>
    </p>
  </body>
</html>
